*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#nav{
    height: 575px;
    width: 100vw;
    background-color: black;
    color: white;
}
ul li{
    color: white;
    text-decoration: none;
    display: inline;
    margin: 10px;
}
a {
    font-size: 20px;
    text-decoration: none;
    color: #2997ff;
}
#lp{
    height: 520px;
    width: 100vw;
}
#abc{
    font-size: 20px;
    text-decoration: none;
    color:blue;
}
#xyz{
    font-size: 20px;
    text-decoration: none;
    color:blue;
}
#watch1{
    height: 540px;
    width: 100vw;
    background-color: black;
    color: white;
}
.maindiv{
    display: flex;
    height: 800px;
    width: 100%;
}
.d1{
    flex: 50%;
}
.d2{
    flex: 50%;
}
